<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/reservations"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Editar Reserva' : 'Nueva Reserva' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="isAdminOrCoordinator && !isEditMode" class="ion-margin-bottom">
    <ion-segment [value]="reservationType" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="single">
        <ion-label>Clase Única</ion-label>
      </ion-segment-button>
      <ion-segment-button value="semester">
        <ion-label>Semestre Completo</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

    <ion-item class="ion-margin-bottom">
      <ion-label position="stacked">Aula</ion-label>
      <ion-select formControlName="classroomId" placeholder="Seleccione aula">
        <ion-select-option *ngFor="let room of classrooms" [value]="room.id">
          {{ room.name }} ({{ room.building?.name }})
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-margin-bottom" *ngIf="isAdminOrCoordinator">
      <ion-label position="stacked">Asignar a (Profesor)</ion-label>
      <ion-select formControlName="userId" placeholder="Seleccione usuario">
        <ion-select-option *ngFor="let user of users" [value]="user.id">
          {{ user.name }} ({{ user.role }})
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-label position="stacked">Materia / Propósito</ion-label>
      <ion-input formControlName="purpose" placeholder="Ej: Matemáticas Avanzadas"></ion-input>
    </ion-item>

    <ng-container *ngIf="reservationType === 'single'">
      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Fecha</ion-label>
        <ion-datetime-button datetime="datetime-single"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime-single" presentation="date" formControlName="date"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
    </ng-container>


    <ng-container *ngIf="reservationType === 'semester'">

      <ion-item-divider>
        <ion-label>Configuración del Semestre</ion-label>
      </ion-item-divider>

      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Inicio del Semestre</ion-label>
        <ion-datetime-button datetime="datetime-start-sem"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime-start-sem" presentation="date" formControlName="semesterStartDate"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Fin del Semestre</ion-label>
        <ion-datetime-button datetime="datetime-end-sem"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime-end-sem" presentation="date" formControlName="semesterEndDate"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label position="stacked">Día de la clase</ion-label>
        <ion-select formControlName="dayOfWeek" placeholder="Seleccione día">
          <ion-select-option *ngFor="let day of daysOfWeek" [value]="day.value">
            {{ day.label }}
          </ion-select-option>
        </ion-select>
      </ion-item>

    </ng-container>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Hora Inicio</ion-label>
            <ion-datetime-button datetime="time-start"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="time-start" presentation="time" formControlName="startTime"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Hora Fin</ion-label>
            <ion-datetime-button datetime="time-end"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="time-end" presentation="time" formControlName="endTime"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" [disabled]="reservationForm.invalid">
        {{ isEditMode ? 'Actualizar' : (reservationType === 'semester' ? 'Asignar Semestre' : 'Crear Reserva') }}
      </ion-button>
    </div>

  </form>
</ion-content>
