@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';

@layer base {
  body {
    @apply font-sans text-gray-900 bg-blue-500;
  }

  body.dark {
    @apply text-kwd-light bg-kwd-dark;
  }
}